<!--
Requirements:
Stap 4: Tutor registreert individuele eindcijfers van projectleden in het systeem
4.4.1 Het systeem kan eindcijfers registreren
Stap 6: Tutor publiceert de individuele eindcijfers van de projectleden
4.6.1 Het systeem kan eindcijfers publiceren
 4.6.1.1 De tutor kan eindcijfers publiek maken
-->
@model IEnumerable<Barometer.Models.ProjectGroup>
@{
    ViewBag.Title = "Individuele beoordeling";
    ViewBag.Tag = "selectgroup";
}

@section Styles {
    <link href="@Url.Content("~/Content/pages/selectgroup.css")" rel="stylesheet" type="text/css" />
}

<h2>@ViewBag.Title</h2>
<div>

    <table>
        <tr>
            <td></td>
            <td>Groep: </td>
        </tr>
        @foreach (var g in Model)
    {
            <tr>
                <td>
                    -
                </td>
                <td>
                    @Ajax.ActionLink(g.ClassCode, "FillForm", new { TempClassCode = g.ClassCode }, new AjaxOptions { HttpMethod = "POST" })
                </td>
            </tr>
    }

    </table>


</div>