a:hover
{
    text-decoration: underline;
}
.determinefilldates
{
    padding-left: 20px;
}
.loadquestionlist
{
    padding-bottom: 10px;
}
.buttons
{
    text-align: center;
}
.remove
{
    font-size: 11px;
}
.enddate, .fillmoments, .filldate
{
    display: none;
}