
@*@if (Request.IsAuthenticated)*@
@if(Session["currentUser"] != null)
{
    <text>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
        <text>Hallo, @(((Barometer.OAuth.CurrentUser)Session["currentUser"]).DisplayName)</text>
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log uit</a>
        }
    </text>
}
else
{
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
