@{
    ViewBag.Title = "Fout bij het inloggen";
}

<h2>@ViewBag.Title.</h2>
<h3 class="text-error">Er was een fout bij het inloggen. <br />
    Dit kan betekenen dat je (nog) niet in het systeem staat.<br />
    Probeer het later nog eens.</h3>
