@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Onderwijsboulevard 215
    5223 DE 's-Hertogenbosch
    Postbus 90.116, 4800 RA Breda
    <abbr title="Phone">Receptie:</abbr> (073) 629 52 95
</address>

<address>
    <strong>Studeren bij Avans:</strong>   <a href="mailto:studentinfo@avans.nl">studentinfo@avans.nl</a><br />
    <strong>Vragen over project:</strong> <a href="mailto:groepgavans@avans.nl">groepGavans@avans.nl</a>
</address>