@{
    ViewBag.Title = "Welkom";
}

<h2>@ViewBag.Title</h2>
Welkom in de Barometer van Groep G, hierboven vind je de navigatie.<br />
<center><img src="~/Content/images/barometer.JPG" width="300" height="300" /></center>
