<!--
Requiments:
Stap 4: Projectdocent geeft elke projectgroep een Tutor. Door bij elke projectgroep de naam van hun 
tutor te selecteren.
1.4.1 Het systeem weet welke docenten ook als tutor voorkomen
1.4.2 De gebruiker kan nieuwe tutor toevoegen
1.4.3 De gebruiker kan elk projectgroep een tutor toewijzen
 1.4.3.1 Het systeem geeft een lijst van tutors waar de gebruiker uit kan kiezen
1.4.4 Het systeem registreert het nieuwe project
 1.4.4.1 Het systeem onthoudt de projectgroepen in het nieuwe project
 1.4.4.2 Het systeem onthoudt de link tussen tutor en projectgroep
1.4.5 Het systeem meldt als een projectgroep nog geen tutor heeft
-->

@{
    ViewBag.Title = "Wijs tutor aan projectgroep toe";
    ViewBag.Tag = "addtutortogroup";
}

@section Styles {
    <link href="@Url.Content("~/Content/pages/addtutortogroup.css")" rel="stylesheet" type="text/css" />
}

<h2>@ViewBag.Title</h2>

<div class="@ViewBag.Tag">

    <div class="groups">
        <select name="tutor">
            <option value="1">Tutor naam</option>
            <option value="2">Tutor naam2</option>
            <option value="3">Tutor naam3</option>
            <option value="4">Tutor naam4</option>
        </select>
        &raquo; Groep A<br />
        <select name="tutor">
            <option value="1">Tutor naam</option>
            <option value="2">Tutor naam2</option>
            <option value="3">Tutor naam3</option>
            <option value="4">Tutor naam4</option>
        </select>
        &raquo; Groep B<br />
        <select name="tutor">
            <option value="1">Tutor naam</option>
            <option value="2">Tutor naam2</option>
            <option value="3">Tutor naam3</option>
            <option value="4">Tutor naam4</option>
        </select>
        &raquo; Groep C<br />
        <select name="tutor">
            <option value="1">Tutor naam</option>
            <option value="2">Tutor naam2</option>
            <option value="3">Tutor naam3</option>
            <option value="4">Tutor naam4</option>
        </select>
        &raquo; Groep D<br />
        <select name="tutor">
            <option value="1">Tutor naam</option>
            <option value="2">Tutor naam2</option>
            <option value="3">Tutor naam3</option>
            <option value="4">Tutor naam4</option>
        </select>
        &raquo; Groep E<br />
        <select name="tutor">
            <option value="1">Tutor naam</option>
            <option value="2">Tutor naam2</option>
            <option value="3">Tutor naam3</option>
            <option value="4">Tutor naam4</option>
        </select>
        &raquo; Groep F<br />
        <select name="tutor">
            <option value="1">Tutor naam</option>
            <option value="2">Tutor naam2</option>
            <option value="3">Tutor naam3</option>
            <option value="4">Tutor naam4</option>
        </select>
        &raquo; Groep G<br />
        <select name="tutor">
            <option value="1">Tutor naam</option>
            <option value="2">Tutor naam2</option>
            <option value="3">Tutor naam3</option>
            <option value="4">Tutor naam4</option>
        </select>
        &raquo; Groep H<br />
    </div>
    <div class="clear"></div>
    <div class="buttons">
        <form name="@ViewBag.Tag" action="#" method="post">
            <button type="submit">Accepteer</button>
            <button type="submit">Ga terug</button>
        </form>
    </div>

</div>