@model IEnumerable<Barometer.Models.ProjectGroup>

@{
    ViewBag.Title = "Lijst met toegevoegde groepen";
    ViewBag.Tag = "checkprojectgroups";
}

<div><b>@ViewBag.ProjectName</b></div>
@foreach (var item in Model)
{
    <div>
         <b>@item.ClassCode :</b><br />
         @Html.Action("ShowStudents", new { groupId = item.Id })
        <hr />      
    </div>
}

<div class="buttons">
        @using (Html.BeginForm("CheckProjectGroups2", "ProjectDocent", FormMethod.Post)){
            <button type="submit">Accepteer</button>
        }
    </div>


@*@section Styles {
    <link href="@Url.Content("~/Content/pages/checkprojectgroups.css")" rel="stylesheet" type="text/css" />
}*@

